body {
    min-width: 350px;
}

.noev {
    pointer-events: none;
}
.nav-opt {
    color: rgba(0,0,0,.6);
    font-weight: 500;
    transition: .25s ease;
} .nav-opt:hover, .nav-opt-active {
    color: black;
    font-weight: 500;
}

.prod, .prod .card {
    background-color: transparent;
    transition: background-color .25s ease;
}
.prod:hover, .prod .card:hover {
    background-color: rgb(225, 225, 225);
}

.btn-custom-darken {
    background-color: rgb(220,220,220);
    color: rgba(0,0,0,.8);
    transition: .25s ease;
} .btn-custom-darken:hover, .btn-custom-darken-active {
    background-color: #212529;
    color: white;
} .btn-custom-darken-active:hover {
    background-color: rgb(30,30,30);
    color: white;
}

.btn-custom-light {
    background-color: white;
    color: black;
    transition: .25s ease;
} .btn-custom-light:hover, .btn-custom-light:active {
    background-color: #f0f0f0;
}

.body-height {
    height: calc(100vh - 56px);
}


.ic {
    position: relative;
}
#cart-count {
    position: absolute;
    top: -8px;
    right: -4px;
    width: 18px;
    height: 18px;
    color: black;
    border: 1px solid black;
    border-radius: 9px;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
}


.trash {
    color: white;
    transition: .25s ease;
} .trash-cont:hover .trash, .trash-cont.hover .trash {
    color: rgba(255, 0, 0,.87);
}


/* > small breakpoint */
@media screen and (min-width: 575px) {
    .border-end-sm {
        border-right: none;
    }
    .nav-col {
        border-bottom: none;
        width: 150px;
    }
    .main-col {
        width: calc(100% - 150px);
    }
}

/* < small breakpoint */
@media screen and (max-width: 575px) {
    .border-end-sm {
        border-right: 1px solid #dee2e6;
    }
    .nav-col {
        height: 40px;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .main-col {
        height: calc(100vh - 106px);
    }
}



/* < xxsmall breakpoint (for duo fold) */
@media screen and (max-width: 400px) {
    .d-xxs-none {
        display: none !important;
    }
    .xxs-center {
        margin: 19px 0;
    }
}


@media (min-width: 992px) {
    .position-lg-fixed {
        position: fixed !important;
    } 
}