{% load static ecommerce_extras %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">

    <div class="container-fluid justify-content-between">


        <button class="navbar-toggler order-1 order-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand order-0 order-sm-1" onclick="window.location.href='/'" role="button">Replate</a>

        <div class="collapse navbar-collapse order-1 order-sm-0" id="navbarSupportedContent">
            <div class="navbar-nav" id="nav-links">
                {% if request.path == '/' %}
                    <a class="nav-item nav-link active" onclick="window.location.href='/'" role="button">Shop</a>
                {% elif request.path == '/contact/' %}
                    <a class="nav-item nav-link" onclick="window.location.href='/'" role="button">Shop</a>
                {% else %}
                    <a class="nav-item nav-link" onclick="window.location.href='/'" role="button">Shop</a>
                {% endif %}
            </div>
        </div>

        <div class="collapse navbar-collapse order-2 justify-content-end" id="navbarSupportedContent">
            <div class="navbar-nav d-inline-block" role="button">
                <a class="ic nav-item" onclick="window.location.href='https://twitter.com/'" role="button"><i class="fa-brands fa-twitter fa-lg" style="color: #ffffff; line-height: inherit !important; padding: 0 5px;"></i></a>
                <a class="ic nav-item" onclick="window.location.href='https://instagram.com/'" role="button"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff; line-height: inherit !important; padding: 0 5px;"></i></a>
                <a class="ic nav-item" onclick="window.location.href='/account/'" role="button"><i class="fa-solid fa-user fa-lg" style="color: #ffffff; line-height: inherit !important; padding: 0 5px;"></i></a>
                <a class="ic nav-item" onclick="window.location.href='/cart/'" role="button"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffffff; line-height: inherit !important; padding: 0 5px;"></i>{% cart_count %}</a>
            </div>
        </div>
        
    </div>

</nav>